.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 1rem;

  width: 100%;
  max-width: 300px;

  border: 1px solid yellow;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.joke > div:nth-child(1)
 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}

.joke > div:nth-child(1) > div:nth-child(2)
{
  border-left: 1px solid gray;
  padding-left: 6px;
}
.joke > div:nth-child(2) {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}

.joke > div:nth-child(3)
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joke > div:nth-child(4)
{
  text-align: left;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: lightgray;
  width: 100%;
}
