<div class="joke">
  <div>
    <div>
      <img src="{{ joke.icon_url }}" alt="icone">
    </div>
    <div>
      Cat&eacute;gorie(s) :<br>
      @if(joke.categories.length === 0) {
        Aucune cat&eacute;gorie
       } @else {
         @for(cat of joke.categories; track $index; let l = $last) {
          {{ cat }}
          @if(!l){
            ,
          }
         }
       }
    </div>
  </div>

  <div>
    Identifiant : {{ joke.id }}
  </div>

  <div>
    <div>
      Cr&eacute;é le : {{ joke.created_at | date:"dd MMM YYYY"}}
    </div>
    <div>
      Modifi&eacute;e le : {{ joke.updated_at | date:"dd MMM YYYY"}}
    </div>
  </div>

  <div>
    {{ joke.value }}
  </div>

</div>
