<div id="home">
  <h1>Accueil - Chuch Norris Jokes</h1>
  <section>
    Bienvenue sur l'application qui vous permet de naviguer parmi les blagues
    sur le th&egrave;me de Chuck Norris. Enjoy !...
  </section>

  <section>
    <button (click)="showAnotherCard()" class="btn btn-primary">Une autre JOKE</button>
  </section>

  <section class="joke-container">
    @if (joke$ | async; as joke) {
      <app-joke [joke]="joke"></app-joke>
    } @else  {
        <div class="loading">
          Loading...
        </div>
    }
  </section>

</div>
