<div id="home">
  <h1>Accueil - Fleurs</h1>
  <section>
    Bienvenue sur l'application qui vous permet de chercher toutes les fleurs
    r&eacute;pertori&eacute;es dans le monde entier. Enjoy !...
  </section>

  <section>
    @if (plantsList$ | async; as plantsList) {
    <p>Self link: {{ plantsList.links.self }}</p>
    <p>Meta: {{ plantsList.meta.total }}</p>
    }
  </section>
  <section>
    <br />
    TEST Récupération du TOKEN public @if (tokenTest$ | async) {
    <p>Token : {{ tokenTest$ }}</p>

    }
  </section>
</div>
