/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem 6px;
  background-color: lightgray;
  text-align: center;
}

nav {
  padding: 6px 0 6px 1rem;
  background-color: gray;
}

main {
  padding: 1rem 6px;
  background-color: lightskyblue;
  text-align: center;
}

footer {
  padding: 2rem 6px;
  background-color: aqua;
  text-align: center;
}

#home,
#a-propos {
  padding: 6px;
  background-color: lightpink;
}

section, p {
  padding: 1rem 0;
}

.loading {
  padding: 1rem;
  background-color: lightgrey;
  font-weight: bold;
  color: black;
  border-radius: 5px;

}

.joke-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  padding:6px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-primary {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.btn-primary:hover {
  border-color: white;
  background-color: rgb(23, 23, 255);
}

.tc {
  text-align: center;
}

.form-input {
  font-size: 1.1rem;
  text-align: left;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
